.statusDot {
    width: 16px;
    height: 16px;
    border-radius: 50%;
}

.alive {
    background: var(--green-500);
}

.dead {
    background: var(--red-600);
}

.unknown {
    background: var(--slate-400);
}
