.characters {
  display: flex;
  flex-wrap: wrap;
}
 
.character {
  margin: 10px;
  padding: 10px;
  width: 300px;
  background-color: var(--slate-700);
  border-radius: 5px;
}
 
.characterLink {
  color: var(--slate-50);
  font-weight: bold;
  font-size: 32px;
  margin-bottom: 10px;
  display: block;
  text-align: center;
 
  &:hover {
    text-decoration: none;
  }
}

.linkButton {
  margin: 10px;
  padding: 10px;
  color: var(--slate-50);
  background-color: var(--slate-800);
  text-decoration: none;
  font-size: 24px;
  width: 200px;
  text-align: center;
  border-radius: 5px;
  border: 2px solid var(--slate-800);
 
  &:hover {
    color: var(--slate-800);
    background-color: var(--slate-50);
    border: 2px solid var(--slate-800);
    cursor: pointer;
  }
    &:disabled {
    background-color: var(--slate-200);
    color: var(--slate-700);
    cursor: not-allowed;
    opacity: 0.6;
  }
}

.buttonContainer {
  display: flex;
  justify-content: center;
  margin: 30px;
}

.linkButton {
  /*...*/
 
  &:disabled {
    background-color: var(--slate-200);
    color: var(--slate-700);
    cursor: not-allowed;
    opacity: 0.6;
  }
}