.linkWrapper {
  display: flex;
  justify-content: center;
}

.mainWrapper {
  background:
    linear-gradient(var(--slate-200), var(--slate-200-20)), url("../../../assets/img/bg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
}

.linkButton {
  margin: 10px;
  padding: 10px;
  color: var(--slate-50);
  background-color: var(--slate-800);
  text-decoration: none;
  font-size: 24px;
  width: 200px;
  text-align: center;
  border-radius: 5px;
  border: 2px solid var(--slate-800);
 
  &:hover {
    color: var(--slate-800);
    background-color: var(--slate-50);
    border: 2px solid var(--slate-800);
    cursor: pointer;
  }
    &:disabled {
    background-color: var(--slate-200);
    color: var(--slate-700);
    cursor: not-allowed;
    opacity: 0.6;
  }
}
